* {
    /* Reset browser's padding and margin */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    -webkit-appearance: none;
  }
body{
    background:white; 
    font-family:'Open Sans', sans-serif;
    
    
}

.logo-container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
   
    
    
    
   
   
    

}

.logo-item{

   position: relative;
   top: 70px;
    left: 95px;
} 


.button-container{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.button-container .button11{
background-color: #f2f2f2;
color: #5F6368;
padding: 0px 16px;
margin: 11px 4px;
border: 1px solid #f2f2f2;
border-radius: 4px;
font-family: arial,sans-serif;
font-size: 18px;
line-height: 27px;
height: 37px;
min-width: 54px;
text-align: center;
cursor: pointer;
height: 50px;

}



.container{

top:280px ;
left: 47%;
transform: translate(-50%, -50%);
position: absolute;
max-width:500px;
}


.search-box{
border-radius: 50px;
background: white;
border:1px solid rgb(216, 198, 198) ;
width: 600px;
height: 50px;

}
form{

margin: 0;

}


input{
    border: none;
    margin: 10px 5px 10px 0px ;
    font-size:20px;
    outline: none;
    color: #080808
}



 span{
font-size: 20px;
margin:0px 10px;
color:#5f60aa ;
padding-top: 20px;
}



span:hover{
    color: rgb(15, 14, 15);
}


button{
    background: transparent;
    border: none;
}
#right{

position: relative;
left: 240px;
color: blue;
outline: none;
font-weight: bold;
width: 30px;
height: 30px;
}

.container:hover {
    box-shadow: 0 0 4px 0 rgba(33,33,33,.2); 
}

.nav-container{
    padding-right:20px;
}

.nav-container ul{
 position: relative;
 padding-left: 15px;
 list-style-type: none;
 bottom: 20px;

    
}
#nav-to-left{
float: left;
padding-left:15px ;
color: rgba(0,0,0,0.87);
text-decoration: none;

}
#nav-to-right{
padding-left: 15px;
float: right;
color: rgba(0,0,0,0.87);
text-decoration: none;


}
#nav-to-left:hover{

    opacity: .85;
    text-decoration: underline;

}
#nav-to-right:hover{

    opacity: .85;
    text-decoration: underline;
}

.material-icons{
    position: relative;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.85;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    bottom: 20px;
}

.material-icons:hover{

    
}
.sign-in-but{
    
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    color: #ffffff;
    padding: 9px 12px 5px  ;
    font-size: 20px;
    font-family: arial,sans-serif;
    border-radius: 2px;
    line-height: 28px;
    position: relative;
    bottom:11px 

}
.foot-div-container  ul {
list-style-type: none;
line-height: 50px;
font-family: arial,sans-serif;
font-size: 17px;

}

#footer-nav-right{
float:right;
padding:0px 0px 0px 27px ;
white-space: nowrap;
color: #5f6368;
text-decoration: none;
white-space: nowrap;
}

#footer-nav-right:hover{

    text-decoration: underline;

}


#footer-nav-left{
padding:0px 0px 0px 27px ;
float:left;
white-space: nowrap;
color: #5f6368;
text-decoration: none;
white-space: nowrap;
}

#footer-nav-left:hover{

    text-decoration: underline;

}



.foot-div-container {
    overflow: auto;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 5px;
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    height: 50px;
    min-width: 707px;
    border-top:1px solid  #e6e6e6;
    overflow: hidden;
  }
    



